In [259]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [260]:
df = pd.read_csv("E:\DATA RESOURCES\EPL Data\EPL_data.csv")

In [264]:
df = df.drop('Div', axis=1)

print(df)

            Date      Time          HomeTeam          AwayTeam  FT Home TeamG  \
0     09/08/2019  20:00:00         Liverpool           Norwich              4
1     10/08/2019  12:30:00          West Ham          Man City              0
2     10/08/2019  15:00:00       Bournemouth  Sheffield United              1
3     10/08/2019  15:00:00           Burnley       Southampton              3
4     10/08/2019  15:00:00    Crystal Palace           Everton              0
...          ...       ...               ...               ...            ...
1895  19/05/2024  16:00:00    Crystal Palace       Aston Villa              5
1896  19/05/2024  16:00:00         Liverpool            Wolves              2
1897  19/05/2024  16:00:00             Luton            Fulham              2
1898  19/05/2024  16:00:00          Man City          West Ham              3
1899  19/05/2024  16:00:00  Sheffield United         Tottenham              0

      FT Away TeamG FT Results  HT Home TeamG  HT Away TeamG HT Results  \
0                 1          H              4              0          H
1                 5          A              0              1          A
2                 1          D              0              0          D
3                 0          H              0              0          D
4                 0          D              0              0          D
...             ...        ...            ...            ...        ...
1895              0          H              2              0          H
1896              0          H              2              0          H
1897              4          A              1              2          A
1898              1          H              2              1          H
1899              3          A              0              1          A

         Referee  Home Team Shots  Away Team Shots  Home Short Target  \
0       M Oliver               15               12                  7
1         M Dean                5               14                  3
2       K Friend               13                8                  3
3        G Scott               10               11                  4
4         J Moss                6               10                  2
...          ...              ...              ...                ...
1895      D Bond               15                8                  9
1896  C Kavanagh               36                4                 14
1897   M Donohue               15               15                  6
1898    J Brooks               28                3                 12
1899    A Madley                6               18                  1

      Away Short Target  HF  AF  Home Corners  Away Corners
0                     5   9   9            11             2
1                     9   6  13             1             1
2                     3  10  19             3             4
3                     3   6  12             2             7
4                     3  16  14             6             2
...                 ...  ..  ..           ...           ...
1895                  2  10   8             2             4
1896                  3  14  11            10             2
1897                  7  15  20             4             4
1898                  2   3  12            11             2
1899                  9  11   9             2             6

[1900 rows x 19 columns]

In [265]:
df.columns

Index(['Date', 'Time', 'HomeTeam', 'AwayTeam', 'FT Home TeamG',
       'FT Away TeamG', 'FT Results', 'HT Home TeamG', 'HT Away TeamG',
       'HT Results', 'Referee', 'Home Team Shots', 'Away Team Shots',
       'Home Short Target', 'Away Short Target', 'HF', 'AF', 'Home Corners',
       'Away Corners'],
      dtype='object')

In [266]:
df.shape

(1900, 19)

In [267]:
df.isnull().sum()

Date                 0
Time                 0
HomeTeam             0
AwayTeam             0
FT Home TeamG        0
FT Away TeamG        0
FT Results           0
HT Home TeamG        0
HT Away TeamG        0
HT Results           0
Referee              0
Home Team Shots      0
Away Team Shots      0
Home Short Target    0
Away Short Target    0
HF                   0
AF                   0
Home Corners         0
Away Corners         0
dtype: int64

In [268]:
df["HomeTeam"].value_counts()

Liverpool           95
Man United          95
Wolves              95
Chelsea             95
Man City            95
West Ham            95
Brighton            95
Aston Villa         95
Arsenal             95
Everton             95
Newcastle           95
Tottenham           95
Crystal Palace      95
Leicester           76
Southampton         76
Burnley             76
Sheffield United    57
Bournemouth         57
Fulham              57
Leeds               57
Brentford           57
Watford             38
Norwich             38
Nott'm Forest       38
West Brom           19
Luton               19
Name: HomeTeam, dtype: int64

In [269]:
df[df["HomeTeam"]== "Arsenal"]

,Date,Time,HomeTeam,AwayTeam,FT Home TeamG,FT Away TeamG,FT Results,HT Home TeamG,HT Away TeamG,HT Results,Referee,Home Team Shots,Away Team Shots,Home Short Target,Away Short Target,HF,AF,Home Corners,Away Corners
10,17/08/2019,12:30:00,Arsenal,Burnley,2,1,H,1,1,D,M Dean,16,18,9,5,13,11,10,7
39,01/09/2019,16:30:00,Arsenal,Tottenham,2,2,D,1,2,A,M Atkinson,26,13,8,9,13,19,11,6
58,22/09/2019,16:30:00,Arsenal,Aston Villa,3,2,H,0,1,A,J Moss,21,14,6,9,13,15,9,4
76,06/10/2019,14:00:00,Arsenal,Bournemouth,1,0,H,1,0,H,M Atkinson,12,10,2,2,12,6,14,5
97,27/10/2019,16:30:00,Arsenal,Crystal Palace,2,2,D,2,1,H,M Atkinson,15,10,6,4,18,9,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1818,03/04/2024,19:30:00,Arsenal,Luton,2,0,H,2,0,H,C Pawson,13,5,4,1,12,8,3,1
1841,14/04/2024,16:30:00,Arsenal,Aston Villa,0,2,A,0,0,D,D Coote,18,11,4,2,12,7,4,6
1850,23/04/2024,20:00:00,Arsenal,Chelsea,5,0,H,1,0,H,S Hooper,27,7,10,1,12,11,4,2
1868,04/05/2024,12:30:00,Arsenal,Bournemouth,3,0,H,1,0,H,D Coote,25,7,9,2,16,12,6,1
1890,19/05/2024,16:00:00,Arsenal,Everton,2,1,H,1,1,D,M Oliver,26,5,5,2,8,11,8,1

In [270]:
df.nunique()

Date                 610
Time                  22
HomeTeam              26
AwayTeam              26
FT Home TeamG         10
FT Away TeamG         10
FT Results             3
HT Home TeamG          6
HT Away TeamG          6
HT Results             3
Referee               38
Home Team Shots       35
Away Team Shots       31
Home Short Target     16
Away Short Target     16
HF                    24
AF                    25
Home Corners          18
Away Corners          18
dtype: int64

In [271]:
df.dtypes

Date                 object
Time                 object
HomeTeam             object
AwayTeam             object
FT Home TeamG         int64
FT Away TeamG         int64
FT Results           object
HT Home TeamG         int64
HT Away TeamG         int64
HT Results           object
Referee              object
Home Team Shots       int64
Away Team Shots       int64
Home Short Target     int64
Away Short Target     int64
HF                    int64
AF                    int64
Home Corners          int64
Away Corners          int64
dtype: object

In [272]:
df["Date"] = pd.to_datetime(df["Date"])

C:\Users\Dickson\AppData\Local\Temp\ipykernel_1236\936118274.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Date"] = pd.to_datetime(df["Date"])

In [273]:
df.dtypes

Date                 datetime64[ns]
Time                         object
HomeTeam                     object
AwayTeam                     object
FT Home TeamG                 int64
FT Away TeamG                 int64
FT Results                   object
HT Home TeamG                 int64
HT Away TeamG                 int64
HT Results                   object
Referee                      object
Home Team Shots               int64
Away Team Shots               int64
Home Short Target             int64
Away Short Target             int64
HF                            int64
AF                            int64
Home Corners                  int64
Away Corners                  int64
dtype: object

In [274]:
df['Results'] = df['FT Results'].astype("category").cat.codes

In [275]:
df['day_code'] = df['Date'].dt.dayofweek

In [276]:
df["Team_code"] = df["HomeTeam"].astype("category").cat.codes

In [277]:
df["Hour"] = df["Time"].str.replace(r":.+", "", regex=True).astype(int)

In [278]:
# Create a new column combining HomeTeam and AwayTeam
df['Venue'] = df['HomeTeam'].astype("category").cat.codes

In [279]:
def determine_winner(row):
    if row['FT Home TeamG'] > row['FT Away TeamG']:
        return row['HomeTeam']
    elif row['FT Home TeamG'] < row['FT Away TeamG']:
        return row['AwayTeam']
    else:
        return 'Draw'

df['Winner'] = df.apply(determine_winner, axis=1)

In [280]:
def encode_winner(row):
    if row['FT Home TeamG'] > row['FT Away TeamG']:
        return 1  # HomeTeam wins
    else:
        return 0  # AwayTeam wins or Draw

# Apply the function to create the new column
df['Outcome'] = df.apply(encode_winner, axis=1)

In [281]:
df

,Date,Time,HomeTeam,AwayTeam,FT Home TeamG,FT Away TeamG,FT Results,HT Home TeamG,HT Away TeamG,HT Results,...,AF,Home Corners,Away Corners,Results,day_code,Team_code,Hour,Venue,Winner,Outcome
0,2019-09-08,20:00:00,Liverpool,Norwich,4,1,H,4,0,H,...,9,11,2,2,6,12,20,12,Liverpool,1
1,2019-10-08,12:30:00,West Ham,Man City,0,5,A,0,1,A,...,13,1,1,0,1,24,12,24,Man City,0
2,2019-10-08,15:00:00,Bournemouth,Sheffield United,1,1,D,0,0,D,...,19,3,4,1,1,2,15,2,Draw,0
3,2019-10-08,15:00:00,Burnley,Southampton,3,0,H,0,0,D,...,12,2,7,2,1,5,15,5,Burnley,1
4,2019-10-08,15:00:00,Crystal Palace,Everton,0,0,D,0,0,D,...,14,6,2,1,1,7,15,7,Draw,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,2024-05-19,16:00:00,Crystal Palace,Aston Villa,5,0,H,2,0,H,...,8,2,4,2,6,7,16,7,Crystal Palace,1
1896,2024-05-19,16:00:00,Liverpool,Wolves,2,0,H,2,0,H,...,11,10,2,2,6,12,16,12,Liverpool,1
1897,2024-05-19,16:00:00,Luton,Fulham,2,4,A,1,2,A,...,20,4,4,0,6,13,16,13,Fulham,0
1898,2024-05-19,16:00:00,Man City,West Ham,3,1,H,2,1,H,...,12,11,2,2,6,14,16,14,Man City,1
1899,2024-05-19,16:00:00,Sheffield United,Tottenham,0,3,A,0,1,A,...,9,2,6,0,6,19,16,19,Tottenham,0

In [282]:
from sklearn.ensemble import RandomForestClassifier

In [283]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [284]:
train = df[df["Date"] < '2020-01-01']

In [285]:
test = df[df["Date"] > '2020-01-01']

In [461]:
predictors = ["Venue","day_code","Hour","Team_code", "Home Team Shots","Away Team Shots", "Home Short Target","Away Short Target"]

In [462]:
rf.fit(train[predictors], train["Outcome"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [463]:
preds = rf.predict(test[predictors])

In [464]:
from sklearn.metrics import accuracy_score

In [465]:
acc = accuracy_score(test["Outcome"], preds)

In [466]:
acc

0.6944444444444444

In [467]:
combined = pd.DataFrame(dict(actual=test["Outcome"], prediction=preds))

In [468]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction    0    1
actual
0           706  239
1           278  469

In [469]:
### Now revise the accuracy metric
from sklearn.metrics import precision_score

In [470]:
precision_score(test["Outcome"], preds)

0.6624293785310734

In [471]:
grouped_matches = df.groupby("HomeTeam")

In [472]:
group = grouped_matches.get_group("Man City")

In [473]:
group

,Date,Time,HomeTeam,AwayTeam,FT Home TeamG,FT Away TeamG,FT Results,HT Home TeamG,HT Away TeamG,HT Results,...,AF,Home Corners,Away Corners,Results,day_code,Team_code,Hour,Venue,Winner,Outcome
16,2019-08-17,17:30:00,Man City,Tottenham,2,2,D,2,1,H,...,4,13,2,1,5,14,17,14,Draw,0
34,2019-08-31,15:00:00,Man City,Brighton,4,0,H,2,0,H,...,6,8,1,2,5,14,15,14,Man City,1
54,2019-09-21,15:00:00,Man City,Watford,8,0,H,5,0,H,...,9,5,4,2,5,14,15,14,Man City,1
77,2019-06-10,14:00:00,Man City,Wolves,0,2,A,0,0,D,...,14,9,1,0,0,14,14,14,Wolves,0
91,2019-10-26,12:30:00,Man City,Aston Villa,3,0,H,0,0,D,...,5,13,7,2,5,14,12,14,Man City,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,2024-03-31,16:30:00,Man City,Arsenal,0,0,D,0,0,D,...,20,7,4,1,6,14,16,14,Draw,0
1820,2024-03-04,20:15:00,Man City,Aston Villa,4,1,H,2,1,H,...,13,2,3,2,0,14,20,14,Man City,1
1836,2024-04-13,15:00:00,Man City,Luton,5,1,H,1,0,H,...,6,12,1,2,5,14,15,14,Man City,1
1872,2024-04-05,17:30:00,Man City,Wolves,5,1,H,3,0,H,...,17,6,0,2,4,14,17,14,Man City,1
1898,2024-05-19,16:00:00,Man City,West Ham,3,1,H,2,1,H,...,12,11,2,2,6,14,16,14,Man City,1

In [474]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("Date")
    rolling_stats = group[cols].rolling(3,closed = "left").mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [475]:
cols = ["Home Team Shots","HT Home TeamG","HT Away TeamG","Away Team Shots","Home Short Target","Away Short Target","HF", "AF","Home Corners","Away Corners"]
new_cols = [f"{c}_rolling" for c in cols]

In [476]:
new_cols

['Home Team Shots_rolling',
 'HT Home TeamG_rolling',
 'HT Away TeamG_rolling',
 'Away Team Shots_rolling',
 'Home Short Target_rolling',
 'Away Short Target_rolling',
 'HF_rolling',
 'AF_rolling',
 'Home Corners_rolling',
 'Away Corners_rolling']

In [477]:
rolling_averages(group, cols, new_cols)

,Date,Time,HomeTeam,AwayTeam,FT Home TeamG,FT Away TeamG,FT Results,HT Home TeamG,HT Away TeamG,HT Results,...,Home Team Shots_rolling,HT Home TeamG_rolling,HT Away TeamG_rolling,Away Team Shots_rolling,Home Short Target_rolling,Away Short Target_rolling,HF_rolling,AF_rolling,Home Corners_rolling,Away Corners_rolling
16,2019-08-17,17:30:00,Man City,Tottenham,2,2,D,2,1,H,...,22.000000,0.000000,1.000000,7.000000,3.666667,4.000000,10.666667,11.333333,14.000000,1.333333
34,2019-08-31,15:00:00,Man City,Brighton,4,0,H,2,0,H,...,23.333333,0.666667,1.000000,7.000000,5.666667,3.666667,11.666667,9.333333,12.666667,2.000000
54,2019-09-21,15:00:00,Man City,Watford,8,0,H,5,0,H,...,22.333333,1.333333,1.000000,6.666667,7.000000,3.666667,11.333333,6.666667,12.333333,2.000000
91,2019-10-26,12:30:00,Man City,Aston Villa,3,0,H,0,0,D,...,24.333333,3.000000,0.333333,4.666667,9.000000,2.666667,9.666667,6.333333,8.666667,2.333333
127,2019-11-23,17:30:00,Man City,Chelsea,2,1,H,2,1,H,...,22.666667,2.333333,0.000000,7.333333,8.666667,3.666667,8.333333,6.666667,8.666667,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,2024-03-31,16:30:00,Man City,Arsenal,0,0,D,0,0,D,...,25.666667,0.666667,0.666667,5.666667,10.000000,2.000000,7.666667,9.666667,9.000000,2.000000
1872,2024-04-05,17:30:00,Man City,Wolves,5,1,H,3,0,H,...,21.333333,0.666667,0.666667,5.666667,6.666667,2.000000,6.666667,14.333333,8.000000,3.000000
1836,2024-04-13,15:00:00,Man City,Luton,5,1,H,1,0,H,...,19.000000,1.666667,0.333333,5.333333,8.000000,2.000000,6.333333,16.666667,5.000000,2.333333
1898,2024-05-19,16:00:00,Man City,West Ham,3,1,H,2,1,H,...,21.666667,1.333333,0.000000,4.000000,8.666667,1.666667,6.666667,14.333333,8.333333,1.666667
1748,2024-10-02,12:30:00,Man City,Everton,2,0,H,0,0,D,...,27.000000,2.000000,0.333333,3.000000,12.333333,1.666667,4.666667,11.666667,9.666667,1.000000

In [478]:
matches_rolling = df.groupby("HomeTeam").apply(lambda x : rolling_averages(x, cols, new_cols))

In [479]:
matches_rolling

                    Date      Time HomeTeam        AwayTeam  FT Home TeamG  \
HomeTeam
Arsenal  76   2019-06-10  14:00:00  Arsenal     Bournemouth              1
         10   2019-08-17  12:30:00  Arsenal         Burnley              2
         58   2019-09-22  16:30:00  Arsenal     Aston Villa              3
         97   2019-10-27  16:30:00  Arsenal  Crystal Palace              2
         121  2019-11-23  15:00:00  Arsenal     Southampton              2
...                  ...       ...      ...             ...            ...
Wolves   1860 2024-04-27  15:00:00   Wolves           Luton              2
         1828 2024-06-04  15:00:00   Wolves        West Ham              1
         1791 2024-09-03  15:00:00   Wolves          Fulham              2
         1753 2024-10-02  15:00:00   Wolves       Brentford              0
         1883 2024-11-05  15:00:00   Wolves  Crystal Palace              1

               FT Away TeamG FT Results  HT Home TeamG  HT Away TeamG  \
HomeTeam
Arsenal  76                0          H              1              0
         10                1          H              1              1
         58                2          H              0              1
         97                2          D              2              1
         121               2          D              1              1
...                      ...        ...            ...            ...
Wolves   1860              1          H              1              0
         1828              2          A              1              0
         1791              1          H              0              0
         1753              2          A              0              1
         1883              3          A              0              2

              HT Results  ... Home Team Shots_rolling  HT Home TeamG_rolling  \
HomeTeam                  ...
Arsenal  76            H  ...               16.000000               0.666667
         10            D  ...               11.333333               0.666667
         58            A  ...               13.333333               0.666667
         97            H  ...               16.333333               0.666667
         121           D  ...               17.333333               1.000000
...                  ...  ...                     ...                    ...
Wolves   1860          H  ...               11.000000               0.333333
         1828          H  ...               11.000000               0.333333
         1791          D  ...               14.000000               0.666667
         1753          A  ...               11.666667               0.666667
         1883          A  ...               13.000000               0.333333

               HT Away TeamG_rolling  Away Team Shots_rolling  \
HomeTeam
Arsenal  76                 1.000000                19.333333
         10                 0.333333                18.333333
         58                 0.666667                16.000000
         97                 0.666667                14.000000
         121                1.000000                14.000000
...                              ...                      ...
Wolves   1860               0.666667                19.000000
         1828               0.666667                18.000000
         1791               0.333333                13.666667
         1753               0.000000                14.333333
         1883               0.333333                14.333333

               Home Short Target_rolling  Away Short Target_rolling  \
HomeTeam
Arsenal  76                     5.666667                   8.666667
         10                     3.666667                   6.333333
         58                     5.333333                   5.333333
         97                     5.666667                   5.333333
         121                    7.000000                   6.000000
...                                  ...                        ...
Wolves   1860                   3.000000                   6.333333
         1828                   4.000000                   7.000000
         1791                   5.333333                   5.333333
         1753                   5.000000                   5.333333
         1883                   5.000000                   5.333333

               HF_rolling  AF_rolling  Home Corners_rolling  \
HomeTeam
Arsenal  76      9.666667   15.000000              9.333333
         10      9.333333   10.666667             10.333333
         58     11.666667    9.333333             11.000000
         97     12.666667   10.666667             11.000000
         121    14.666667   11.666667             10.333333
...                   ...         ...                   ...
Wolves   1860   10.666667   10.000000              4.666667
         1828   12.666667   13.333333              4.333333
         1791   13.000000   12.666667              5.333333
         1753   12.000000   10.666667              3.666667
         1883   11.000000    9.000000              4.666667

               Away Corners_rolling
HomeTeam
Arsenal  76                8.000000
         10                7.666667
         58                7.000000
         97                5.333333
         121               5.333333
...                             ...
Wolves   1860              6.666667
         1828              6.000000
         1791              6.666667
         1753              4.000000
         1883              4.000000

[1822 rows x 36 columns]

In [480]:
matches_rolling = matches_rolling.droplevel('HomeTeam')

In [481]:
matches_rolling

,Date,Time,HomeTeam,AwayTeam,FT Home TeamG,FT Away TeamG,FT Results,HT Home TeamG,HT Away TeamG,HT Results,...,Home Team Shots_rolling,HT Home TeamG_rolling,HT Away TeamG_rolling,Away Team Shots_rolling,Home Short Target_rolling,Away Short Target_rolling,HF_rolling,AF_rolling,Home Corners_rolling,Away Corners_rolling
76,2019-06-10,14:00:00,Arsenal,Bournemouth,1,0,H,1,0,H,...,16.000000,0.666667,1.000000,19.333333,5.666667,8.666667,9.666667,15.000000,9.333333,8.000000
10,2019-08-17,12:30:00,Arsenal,Burnley,2,1,H,1,1,D,...,11.333333,0.666667,0.333333,18.333333,3.666667,6.333333,9.333333,10.666667,10.333333,7.666667
58,2019-09-22,16:30:00,Arsenal,Aston Villa,3,2,H,0,1,A,...,13.333333,0.666667,0.666667,16.000000,5.333333,5.333333,11.666667,9.333333,11.000000,7.000000
97,2019-10-27,16:30:00,Arsenal,Crystal Palace,2,2,D,2,1,H,...,16.333333,0.666667,0.666667,14.000000,5.666667,5.333333,12.666667,10.666667,11.000000,5.333333
121,2019-11-23,15:00:00,Arsenal,Southampton,2,2,D,1,1,D,...,17.333333,1.000000,1.000000,14.000000,7.000000,6.000000,14.666667,11.666667,10.333333,5.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860,2024-04-27,15:00:00,Wolves,Luton,2,1,H,1,0,H,...,11.000000,0.333333,0.666667,19.000000,3.000000,6.333333,10.666667,10.000000,4.666667,6.666667
1828,2024-06-04,15:00:00,Wolves,West Ham,1,2,A,1,0,H,...,11.000000,0.333333,0.666667,18.000000,4.000000,7.000000,12.666667,13.333333,4.333333,6.000000
1791,2024-09-03,15:00:00,Wolves,Fulham,2,1,H,0,0,D,...,14.000000,0.666667,0.333333,13.666667,5.333333,5.333333,13.000000,12.666667,5.333333,6.666667
1753,2024-10-02,15:00:00,Wolves,Brentford,0,2,A,0,1,A,...,11.666667,0.666667,0.000000,14.333333,5.000000,5.333333,12.000000,10.666667,3.666667,4.000000
1883,2024-11-05,15:00:00,Wolves,Crystal Palace,1,3,A,0,2,A,...,13.000000,0.333333,0.333333,14.333333,5.000000,5.333333,11.000000,9.000000,4.666667,4.000000

In [482]:
def make_predictions(data, predictors):
    train = data[data["Date"] < '2020-10-10']
    test = data[data["Date"] >= '2020-10-10']
    rf.fit(train[predictors], train["Outcome"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["Outcome"], predicted=preds), index=test.index)
    precision = precision_score(test["Outcome"], preds)  
    return combined, precision

In [483]:
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [484]:
precision

0.690846286701209

In [485]:
combined

      actual  predicted
435        0          1
475        0          0
495        0          1
499        0          1
520        1          1
...      ...        ...
1860       1          0
1828       0          0
1791       1          0
1753       0          0
1883       0          1

[1469 rows x 2 columns]

In [486]:
combined = combined.merge(matches_rolling[["Date", "HomeTeam", "AwayTeam", "FT Results"]], left_index=True, right_index=True)

In [487]:
combined

      actual  predicted       Date HomeTeam        AwayTeam FT Results
435        0          1 2020-10-25  Arsenal       Leicester          A
475        0          0 2020-11-29  Arsenal          Wolves          A
495        0          1 2020-12-13  Arsenal         Burnley          A
499        0          1 2020-12-16  Arsenal     Southampton          D
520        1          1 2020-12-26  Arsenal         Chelsea          H
...      ...        ...        ...      ...             ...        ...
1860       1          0 2024-04-27   Wolves           Luton          H
1828       0          0 2024-06-04   Wolves        West Ham          A
1791       1          0 2024-09-03   Wolves          Fulham          H
1753       0          0 2024-10-02   Wolves       Brentford          A
1883       0          1 2024-11-05   Wolves  Crystal Palace          A

[1469 rows x 6 columns]

In [488]:
merged = combined.merge(combined, left_on=["Date", "HomeTeam"], right_on=["Date", "HomeTeam"])

In [489]:
merged

,actual_x,predicted_x,Date,HomeTeam,AwayTeam_x,FT Results_x,actual_y,predicted_y,AwayTeam_y,FT Results_y
0,0,1,2020-10-25,Arsenal,Leicester,A,0,1,Leicester,A
1,0,0,2020-11-29,Arsenal,Wolves,A,0,0,Wolves,A
2,0,1,2020-12-13,Arsenal,Burnley,A,0,1,Burnley,A
3,0,1,2020-12-16,Arsenal,Southampton,D,0,1,Southampton,D
4,1,1,2020-12-26,Arsenal,Chelsea,H,1,1,Chelsea,H
...,...,...,...,...,...,...,...,...,...,...
1464,1,0,2024-04-27,Wolves,Luton,H,1,0,Luton,H
1465,0,0,2024-06-04,Wolves,West Ham,A,0,0,West Ham,A
1466,1,0,2024-09-03,Wolves,Fulham,H,1,0,Fulham,H
1467,0,0,2024-10-02,Wolves,Brentford,A,0,0,Brentford,A
1468,0,1,2024-11-05,Wolves,Crystal Palace,A,0,1,Crystal Palace,A

In [490]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"]== 0)]["actual_x"].value_counts()

Series([], Name: actual_x, dtype: int64)

In [491]:
precision

0.690846286701209